.hero {
  padding-top: 70px;
  background-color: $primary-color;
  padding-bottom: 100px;
  overflow: hidden;
  @media #{$tablet} {
    max-width: 100%;
    padding-bottom: 40px;
  }
  @media #{$header} {
    height: auto;
    max-width: 100%;
  }
  > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .hero__offer {
        width: 440px;
        height: 34px;
        background: url("uploads/offer-back.png"), #c27047;
        box-shadow: 0px 5px 30px -5px #512814;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        @media #{$tablet} {
          max-width: 80%;
          height: auto;
          text-align: center;
        }
        @media #{$header} {
          height: auto;
          max-width: 80%;
        }
        p {
          font-family: $alt-family;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 20px;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          @media #{$tablet} {
            max-width: 100%;
          }
          @media #{$header} {
            height: auto;
            max-width: 100%;
          }
        }
        .icon {
          display: inline-block;
          width: 20px;
          height: 20px;
         
        }
        span {
          font-family: $alt-family;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          color: $White;
          padding:10px;
        }
      }
      .hero__title {
        margin-top: 88px;
        max-width: 1120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media #{$tablet} {
          max-width: 100%;
          margin-top: 30px;
        }
        @media #{$header} {
          height: auto;
          max-width: 100%;
        }
        span {
          font-family: $primary-family;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 36px;
          text-align: center;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: $White;
        }
        .hero__heading {
          font-family: $primary-family;
          font-style: normal;
          font-weight: 400;
          font-size: 230px;
          line-height: 190px;
          text-align: center;
          letter-spacing: -0.05em;
          text-transform: uppercase;
          background: linear-gradient(
            189.82deg,
            #ffffff 20.61%,
            #203842 86.39%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          @media #{$header} {
            max-width: 100%;
            font-size: 150px;
            margin-top: 10px;
            line-height: 100px;
          }
          @media #{$tablet} {
            max-width: 100%;
            font-size: 100px;
            margin-top: 0px;
            line-height: 100px;
            padding-right: 10px;
          }
          @media #{$tablet} {
            max-width: 100%;
            font-size: 100px;
            margin-top: 0px;
            line-height: 100px;
            padding-right: 10px;
          }
          @media (max-width: 600px) {
            font-size: 90px;
            margin-right: 3px;
          }
          @media (max-width: 540px) {
            font-size: 80px;
          }

          @media #{$phone} {
            max-width: 100%;
            font-size: 50px;
            margin-top: 0px;
            line-height: 60px;
          }
        }
      }
      .hero__search {
        background: $White;
        border: 1px solid rgba(33, 58, 67, 0.25);
        box-shadow: 0px 50px 40px -10px rgba(20, 40, 47, 0.6);
        border-radius: 60px;
        width: 700px;
        height: 80px;
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$tablet} {
          max-width: 80%;
          width: 80%;
        }
        @media #{$phone} {
          max-width: 100%;
          font-size: 50px;
          margin-top: -25px;
        }
        .icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          stroke-width: 0;
        }
        button {
          padding-left: 30px;
          text-transform: capitalize;
        }
      }
    }
    .hero__slider {
      margin-top: 100px;
      width:100%;
      overflow: hidden;
      &::before {
        content: "";
        width: 100%;
        height: 20px;
        display: block;
        position: absolute;
        background-image: url("uploads/zigzagTop.jpeg");
        top: -1px;
        left: -1px;
        z-index: 4;
      }
      &::after {
        content: "";
        width: 1440px;
        height: 20px;
        display: block;
        position: absolute;
        background-image: url("uploads/zigzagTop.png");
        bottom: 0;
        left: -1px;
        z-index: 4;
      }

      @media #{$tablet} {
        max-width: 100%;
      }
      .hero__slide {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1044px;
        height: 493px;

        @media #{$tablet} {
        }
        .play {
          width: 209px;
          height: 74px;
          margin-top: 251px;
          background: rgba(32, 57, 66, 0.36);
          border: 1px solid rgba(255, 255, 255, 0.5);
          border-radius: 95px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 20px;
          @media #{$tablet} {
            margin-top: 0px;
          }
          @media #{$phone} {
            margin-top: 34px;
          }
          .icon {
            width: 62px;
            height: 62px;
            display: inline-block;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
            border-radius: 50%;
          }
          span {
            font-family: $alt-family;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: $White;
            text-transform: capitalize;
            strong {
              font-family: $alt-family;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.1em;
              color: $White;
              opacity: 0.75;
            }
          }
        }
        h3 {
          padding-top: 15px;
          width: 670px;
          height: 120px;
          font-family: $primary-family;
          font-style: normal;
          font-weight: 400;
          font-size: 60px;
          line-height: 60px;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: capitalize;
          color: $White;
          @media #{$tablet} {
            max-width: 500px;
            width: 100%;
            padding: 10px 10px 50px;
            height: auto;
          }
          @media #{$phone} {
            font-size: 40px;
            width: 100%;
            max-width: 300px;
          }
        }
      }
      .video1 {
        background-image: url(uploads/video1.jpeg);
        background-repeat: no-repeat;
      }
      .video2 {
        background-image: url(uploads/video1.jpeg);
        background-repeat: no-repeat;
      }
      .video3 {
        background-image: url(uploads/video1.jpeg);
        background-repeat: no-repeat;
      }
    }
  }
}
