.hero {
  padding-top: 70px;
  background-color: $primary-color;
  padding-bottom: 100px;
  overflow: hidden;
  @media #{$tablet} {
    max-width: 100%;
    padding-bottom: 40px;
  }
  @media #{$header} {
    height: auto;
    max-width: 100%;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hero__offer {
    width: 440px;
    height: 34px;
    background: url("uploads/offer-back.png"), #c27047;
    box-shadow: 0px 5px 30px -5px #512814;
    border-radius: 50px;
    @media #{$tablet} {
      max-width: 80%;
      height: auto;
      text-align: center;
    }
    @media #{$header} {
      height: auto;
      max-width: 80%;
      display: grid;
    }
    p {
      font-family: $alt-family;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      @media #{$tablet} {
        max-width: 100%;
      }
      @media #{$header} {
        height: auto;
        max-width: 100%;
      }
    }
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
    span {
      font-family: $alt-family;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: $White;
      padding: 10px;
    }
  }
  .hero__title {
    margin-top: 88px;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    @media #{$tablet} {
      max-width: 100%;
      margin-top: 30px;
    }
    @media #{$header} {
      height: auto;
      max-width: 100%;
    }
    span {
      font-family: $primary-family;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $White;
    }
    .hero__heading {
      font-family: $primary-family;
      font-style: normal;
      font-weight: 400;
      font-size: 230px;
      line-height: 190px;
      text-align: center;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      background: linear-gradient(189.82deg, #ffffff 20.61%, #203842 86.39%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @media #{$header} {
        max-width: 100%;
        font-size: 150px;
        margin-top: 10px;
        line-height: 100px;
      }
      @media #{$tablet} {
        max-width: 100%;
        font-size: 100px;
        margin-top: 0px;
        line-height: 100px;
        padding-right: 10px;
      }
      @media #{$tablet} {
        max-width: 100%;
        font-size: 100px;
        margin-top: 0px;
        line-height: 100px;
        padding-right: 10px;
      }
      @media (max-width: 600px) {
        font-size: 90px;
        margin-right: 3px;
      }
      @media (max-width: 540px) {
        font-size: 80px;
      }

      @media #{$phone} {
        max-width: 100%;
        font-size: 50px;
        margin-top: 0px;
        line-height: 60px;
      }
    }
  }
  .hero__search {
    background: $White;
    border: 1px solid rgba(33, 58, 67, 0.25);
    box-shadow: 0px 50px 40px -10px rgba(20, 40, 47, 0.6);
    border-radius: 50px;
    max-width: 700px;
    width: 100%;
    height: 80px;
    margin-top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$tablet} {
      max-width: 80%;
      width: 80%;
    }
    @media #{$phone} {
      max-width: 100%;
      font-size: 50px;
      margin-top: -25px;
    }
    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      stroke-width: 0;
    }
    .hero__searchPlace {
      text-transform: capitalize;
      border: none;
    }
  }
}

.hero__slider {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
  @media #{$tablet} {
    max-width: 100%;
  }
}
.hero__slide{
  width: 100%;
  max-width: 1000px;
  background: {
    repeat: no-repeat;
    size: cover;
  }
  position: relative;
  margin: 0 15px;
  &::before {
    content: "";
    width: calc(100% + 1px);
    height: 20px;
    display: block;
    position: absolute;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1601' height='21' viewBox='0 0 1601 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.166748 0.48999H1600.17V18.6884C1600.17 18.6884 1397.67 20.355 1389.17 20.4883C1380.67 20.6216 1314.17 12.994 1284.67 14.7195C1255.17 16.445 1171.17 20.355 1171.17 20.355L1011.17 17.8552C1011.17 17.8552 906.667 14.5221 889.667 14.5221C872.667 14.5221 768.167 18.6884 756.167 17.8552C744.167 17.0219 708.167 14.5221 694.167 12.0224C680.167 9.52257 597.167 14.5221 597.167 14.5221L558.167 15.3554L417.167 16.1887L320.167 18.6884L227.167 17.1886L137.167 20.355L51.1667 16.1887L0.166748 18.6884V0.48999Z' fill='%23203942'/%3E%3C/svg%3E%0A");
    top: -1px;
    left: -1px;
    z-index: 4;
  }
  &::after {
    content: "";
    width: calc(100% + 1px);
    height: 20px;
    display: block;
    position: absolute;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1601' height='21' viewBox='0 0 1601 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.765381 20.5247H1600.77V2.32621C1600.77 2.32621 1398.27 0.659685 1389.77 0.526386C1381.27 0.393087 1314.77 8.02063 1285.27 6.29512C1255.77 4.5696 1171.77 0.659685 1171.77 0.659685L1011.77 3.15947C1011.77 3.15947 907.265 6.49251 890.265 6.49251C873.265 6.49251 768.765 2.32621 756.765 3.15947C744.765 3.99273 708.765 6.49251 694.765 8.9923C680.765 11.4921 597.765 6.49251 597.765 6.49251L558.765 5.65925L417.765 4.82599L320.765 2.32621L227.765 3.82607L137.765 0.659685L51.7654 4.82599L0.765381 2.32621V20.5247Z' fill='%23203942'/%3E%3C/svg%3E%0A");
    bottom: 0;
    left: -1px;
    z-index: 4;
  }
}
.hero__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.69) 100%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 2;
  top: 0;
  left: 0;
}

.hero__innertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  padding-bottom: 35px;
  p {
    background: rgba(32, 57, 66, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 95px;
    font-family: $alt-family;
    color: $White;
    font-weight: 600;
    padding: 17px 26px 17px 80px;
    position: relative;
    width: 100%;
    max-width: 210px;
    margin: 265px auto 15px auto;
    z-index: 4;
    strong {
      opacity: 0.75;
      margin-top: 4px;
    }
    &::before {
      content: "";
      width: 62px;
      height: 62px;
      position: absolute;
      display: block;
      top: 9px;
      left: 8px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='62' height='63' viewBox='0 0 62 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='31' cy='31.5247' r='31' fill='$White'/%3E%3Cpath d='M26.6444 24.5247C26.2886 24.5247 26 24.7858 26 25.1078V25.1105V37.9388V37.9416C26 38.2635 26.2886 38.5247 26.6444 38.5247C26.7789 38.524 26.9095 38.4864 27.0183 38.4153L27.0198 38.4167L37.6238 32.0544C37.8527 31.9594 38 31.753 38 31.5247C38 31.2902 37.8451 31.0783 37.6057 30.9867L27.0198 24.6327H27.0183C26.9088 24.5623 26.7781 24.5247 26.6444 24.5247Z' fill='%23B99877'/%3E%3C/svg%3E%0A");
    }
  }
  h3 {
    font-family: "Abel";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #ffffff;
    max-width: 670px;
    @media #{$tablet} {
      max-width: 420px;
      font-size: 50px;
    }
    @media #{$phone} {
      max-width: 320px;
      width:100%;
      font-size: 40px;
    }
  }
}
